
@{
    Layout = "~/Views/_MyLayout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <H1 style="text-align:center">First page</H1>

    <div style="width:100%; background-color:deepskyblue">
        <ul style="text-align:center; width:200px;padding:20px;margin:0 auto;background-color:orange;">
            <li>Alex</li>
            <li>Drozhzhin</li>
        </ul>
    </div>
</body>
